### IntelliJ IDEA ###
/.idea
build
*.iws
*.iml
*.ipr

### PyCharm
*.zip

# Gradle
/taxisEtl/.gradle
/taxisEtl/build/
/taxisEtl/out/
.gradle
build
out

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
/taxisEtl/gradle/
gradle/
/spark-pipeline/gradle/
/es-query-parser/gradle/

#vim swap files
*.swp*

.metals
.vscode
bin
